v5.10.1/xsd/camt.055.spi.1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           targetNamespace='https://www.bcb.gov.br/pi/camt.055/1.1'
           xmlns='https://www.bcb.gov.br/pi/camt.055/1.1'
           elementFormDefault='qualified'>
    <xs:element name="Envelope" type="SPIEnvelopeMessage"/>
    <xs:complexType name="SPIEnvelopeMessage">
        <xs:sequence>
            <xs:element name="AppHdr" type="SPI.head.001.001.01"/>
            <xs:element name="Document" type="SPI.camt.055.001.11"/>
        </xs:sequence>
    </xs:complexType>
    <!--inicio BAH-->
    <xs:complexType name="SPI.head.001.001.01">
        <xs:sequence>
            <xs:element name="Fr" type="Party9Choice"/>
            <xs:element name="To" type="Party9Choice"/>
            <xs:element name="BizMsgIdr" type="MsgIdType"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="CreDt" type="ISONormalisedDateTime"/>
            <xs:element name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISPBType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
            <xs:pattern value="[0-9A-Z]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[M][0-9A-Z]{8}[a-zA-Z0-9]{23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party9Choice">
        <xs:choice>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#"/>
        </xs:sequence>
    </xs:complexType>
    <!--fim BAH-->
    <!--inicio ISO-->
    <xs:complexType name="SPI.camt.055.001.11">
        <xs:sequence>
            <xs:element name="CstmrPmtCxlReq" type="CustomerPaymentCancellationRequestV11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationProcessingDetailsType">
        <xs:sequence>
            <xs:element name="CxlPrcgTp" type="CancellationProcessingTypeCodeCamt055"/>
            <xs:element name="PrcgDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancellationProcessingTypeCodeCamt055">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DHIP"/>
            <xs:enumeration value="DHSR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason33Choice">
        <xs:choice>
            <xs:element name="Prtry" type="ExternalCancellationReason1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CaseAssignment5">
        <xs:sequence>
            <xs:element name="Id" type="MsgIdType"/>
            <xs:element name="Assgnr" type="Party40Choice"/>
            <xs:element name="Assgne" type="Party40Choice"/>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerPaymentCancellationRequestV11">
        <xs:sequence>
            <xs:element name="Assgnmt" type="CaseAssignment5"/>
            <xs:element name="Undrlyg" type="UnderlyingTransaction30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EndToEndIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[E][0-9A-Z]{8}[0-9]{4}[0-1][0-9][0-3][0-9][0-2][0-9][0-5][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCancellationReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCT"/>
            <xs:enumeration value="BLCK"/>
            <xs:enumeration value="CCLD"/>
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="SLBD"/>
            <xs:enumeration value="SLCR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PICpfCnpj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IdCancelamentoAgendamentoType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[C][A][0-9A-Z]{8}[0-9]{4}[0-1][0-9][0-3][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalPaymentInstruction44">
        <xs:sequence>
            <xs:element name="PmtCxlId" type="IdCancelamentoAgendamentoType"/>
            <xs:element name="OrgnlPmtInfId" type="TxIdType"/>
            <xs:element name="CxlRsnInf" type="PaymentCancellationReason5"/>
            <xs:element name="TxInf" type="PaymentTransaction140"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party40Choice">
        <xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135">
        <xs:sequence>
            <xs:element name="Id" type="Party38Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentCancellationReason5">
        <xs:sequence>
            <xs:element name="Orgtr" type="PartyIdentification135"/>
            <xs:element name="Rsn" type="CancellationReason33Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTransaction140">
        <xs:sequence>
            <xs:element name="OrgnlEndToEndId" type="EndToEndIdType"/>
            <xs:element name="SplmtryData" type="SupplementaryDataCamt055Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PICpfCnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}|[0-9A-Z]{12}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryDataCamt055Type">
        <xs:sequence>
            <xs:element name="Envlp" type="SupplementaryDataEnvelopeCamt055Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelopeCamt055Type">
        <xs:sequence>
            <xs:element name="CxlPrcgDtls" type="CancellationProcessingDetailsType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TxIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnderlyingTransaction30">
        <xs:sequence>
            <xs:element name="OrgnlPmtInfAndCxl" type="OriginalPaymentInstruction44"/>
        </xs:sequence>
    </xs:complexType>
    <!--fim ISO-->
</xs:schema>
