v5.10.1/xsd/pain.014.spi.2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           targetNamespace='https://www.bcb.gov.br/pi/pain.014/2.1'
           xmlns='https://www.bcb.gov.br/pi/pain.014/2.1'
           elementFormDefault='qualified'>
    <xs:element name="Envelope" type="SPIEnvelopeMessage"/>
    <xs:complexType name="SPIEnvelopeMessage">
        <xs:sequence>
            <xs:element name="AppHdr" type="SPI.head.001.001.01"/>
            <xs:element name="Document" type="SPI.pain.014.001.10"/>
        </xs:sequence>
    </xs:complexType>
    <!--inicio BAH-->
    <xs:complexType name="SPI.head.001.001.01">
        <xs:sequence>
            <xs:element name="Fr" type="Party9Choice"/>
            <xs:element name="To" type="Party9Choice"/>
            <xs:element name="BizMsgIdr" type="MsgIdType"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="CreDt" type="ISONormalisedDateTime"/>
            <xs:element name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISPBType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
            <xs:pattern value="[0-9A-Z]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[M][0-9A-Z]{8}[a-zA-Z0-9]{23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party9Choice">
        <xs:choice>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#"/>
        </xs:sequence>
    </xs:complexType>
    <!--fim BAH-->
    <!--inicio ISO-->
    <xs:complexType name="SPI.pain.014.001.10">
        <xs:sequence>
            <xs:element name="CdtrPmtActvtnReqStsRpt" type="CreditorPaymentActivationRequestStatusReportV10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CodigoDeErroPain014Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AB10"/>
            <xs:enumeration value="AC05"/>
            <xs:enumeration value="AC06"/>
            <xs:enumeration value="AG12"/>
            <xs:enumeration value="AM02"/>
            <xs:enumeration value="AM09"/>
            <xs:enumeration value="DENC"/>
            <xs:enumeration value="DS27"/>
            <xs:enumeration value="DTED"/>
            <xs:enumeration value="DTNT"/>
            <xs:enumeration value="FBRD"/>
            <xs:enumeration value="IRNT"/>
            <xs:enumeration value="MIDI"/>
            <xs:enumeration value="MSUC"/>
            <xs:enumeration value="NIEC"/>
            <xs:enumeration value="NIPA"/>
            <xs:enumeration value="NITX"/>
            <xs:enumeration value="QUNT"/>
            <xs:enumeration value="RC09"/>
            <xs:enumeration value="UDEI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CpfCnpjType">
        <xs:sequence>
            <xs:element name="Id" type="Party38Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditorPaymentActivationRequestStatusReportV10">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader106"/>
            <xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation30"/>
            <xs:element maxOccurs="unbounded" name="OrgnlPmtInfAndSts" type="OriginalPaymentInstruction46"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EndToEndIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[E][0-9A-Z]{8}[0-9]{4}[0-1][0-9][0-3][0-9][0-2][0-9][0-5][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentTransactionStatus1Code2">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACSP"/>
            <xs:enumeration value="RJCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PICpfCnpj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader106">
        <xs:sequence>
            <xs:element name="MsgId" type="MsgIdType"/>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime"/>
            <xs:element name="InitgPty" type="PartyIdentification135"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IniciadorAgendamentoType">
        <xs:sequence>
            <xs:element name="Id" type="Zeros14Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element name="Othr" type="IniciadorAgendamentoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalGroupInformation30">
        <xs:sequence>
            <xs:element name="OrgnlMsgId" type="Zeros32Type"/>
            <xs:element name="OrgnlMsgNmId" type="Zeros8Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalPaymentInstruction46">
        <xs:sequence>
            <xs:element name="OrgnlPmtInfId" type="TxIdType"/>
            <xs:element name="TxInfAndSts" type="PaymentTransaction145"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalTransactionReference38">
        <xs:sequence>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="Cdtr" type="CpfCnpjType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party38Choice2">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135">
        <xs:sequence>
            <xs:element name="Id" type="Party38Choice2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTransaction145">
        <xs:sequence>
            <xs:element name="OrgnlEndToEndId" type="EndToEndIdType"/>
            <xs:element name="TxSts" type="ExternalPaymentTransactionStatus1Code2"/>
            <xs:element minOccurs="0" name="StsRsnInf" type="StatusReasonInformation12"/>
            <xs:element name="DbtrDcsnDtTm" type="ISONormalisedDateTime"/>
            <xs:element name="OrgnlTxRef" type="OriginalTransactionReference38"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PICpfCnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}|[0-9A-Z]{12}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatusReason6Choice">
        <xs:sequence>
            <xs:element name="Prtry" type="CodigoDeErroPain014Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReasonInformation12">
        <xs:sequence>
            <xs:element name="Rsn" type="StatusReason6Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TxIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Zeros14Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0]{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Zeros32Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0]{32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Zeros8Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--fim ISO-->
</xs:schema>
