v5.10.1/xsd/pain.012.spi.1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           targetNamespace='https://www.bcb.gov.br/pi/pain.012/1.2'
           xmlns='https://www.bcb.gov.br/pi/pain.012/1.2'
           elementFormDefault='qualified'>
    <xs:element name="Envelope" type="SPIEnvelopeMessage"/>
    <xs:complexType name="SPIEnvelopeMessage">
        <xs:sequence>
            <xs:element name="AppHdr" type="SPI.head.001.001.01"/>
            <xs:element name="Document" type="SPI.pain.012.001.07"/>
        </xs:sequence>
    </xs:complexType>
    <!--inicio BAH-->
    <xs:complexType name="SPI.head.001.001.01">
        <xs:sequence>
            <xs:element name="Fr" type="Party9Choice"/>
            <xs:element name="To" type="Party9Choice"/>
            <xs:element name="BizMsgIdr" type="MsgIdType"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="CreDt" type="ISONormalisedDateTime"/>
            <xs:element name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISPBType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
            <xs:pattern value="[0-9A-Z]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[M][0-9A-Z]{8}[a-zA-Z0-9]{23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party9Choice">
        <xs:choice>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#"/>
        </xs:sequence>
    </xs:complexType>
    <!--fim BAH-->
    <!--inicio ISO-->
    <xs:complexType name="SPI.pain.012.001.07">
        <xs:sequence>
            <xs:element name="MndtAccptncRpt" type="MandateAcceptanceReportV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptanceResult6">
        <xs:sequence>
            <xs:element name="Accptd" type="YesNoIndicator"/>
            <xs:element minOccurs="0" name="RjctRsn" type="MandateReason1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BRL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount40">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency36Choice">
        <xs:choice>
            <xs:element name="Tp" type="Frequency6Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Frequency6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max20Numeric"/>
            <xs:element minOccurs="0" name="Issr" type="Max4Numeric"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PICpfCnpj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader80">
        <xs:sequence>
            <xs:element name="MsgId" type="MsgIdType"/>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IdInformacaoStatusType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[I][S][0-9A-Z]{8}[0-9]{4}[0-1][0-9][0-3][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IdRecorrenciaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[R|C][R|N][0-9A-Z]{8}[0-9]{4}[0-1][0-9][0-3][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="Mandate16">
        <xs:sequence>
            <xs:element name="MndtId" type="IdRecorrenciaType"/>
            <xs:element name="MndtReqId" type="IdInformacaoStatusType"/>
            <xs:element name="Ocrncs" type="MandateOccurrences5"/>
            <xs:element name="TrckgInd" type="TrueFalseIndicator"/>
            <xs:element minOccurs="0" name="ColltnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Cdtr" type="NomeCpfCnpjType"/>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="Dbtr" type="MunIBGECpfCnpjType"/>
            <xs:element name="DbtrAcct" type="CashAccount40"/>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element minOccurs="0" name="UltmtDbtr" type="NomeCpfCnpjType"/>
            <xs:element name="RfrdDoc" type="ReferredMandateDocument1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MandateAcceptance7">
        <xs:sequence>
            <xs:element name="AccptncRslt" type="AcceptanceResult6"/>
            <xs:element name="OrgnlMndt" type="OriginalMandate8Choice"/>
            <xs:element minOccurs="0" name="SplmtryData" type="SupplementaryDataPain012Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MandateAcceptanceReportV07">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader80"/>
            <xs:element maxOccurs="unbounded" name="UndrlygAccptncDtls" type="MandateAcceptance7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MandateOccurrences5">
        <xs:sequence>
            <xs:element name="SeqTp" type="SequenceType2Code"/>
            <xs:element name="Frqcy" type="Frequency36Choice"/>
            <xs:element name="FrstColltnDt" type="ISODate"/>
            <xs:element minOccurs="0" name="FnlColltnDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MandateReason1Choice">
        <xs:sequence>
            <xs:element name="Prtry" type="MotivoRejeicaoCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MndtPrcgDtlsType">
        <xs:sequence>
            <xs:element name="MndtPrcgTp" type="MndtPrcgTpPain012Code"/>
            <xs:element name="PrcgDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MndtPrcgTpPain012Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUT1"/>
            <xs:enumeration value="AUT2"/>
            <xs:enumeration value="AUT3"/>
            <xs:enumeration value="AUT4"/>
            <xs:enumeration value="CRTN"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MndtStsCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCLD"/>
            <xs:enumeration value="CFDB"/>
            <xs:enumeration value="PDNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MotivoRejeicaoCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AC01"/>
            <xs:enumeration value="AC04"/>
            <xs:enumeration value="AC06"/>
            <xs:enumeration value="AG12"/>
            <xs:enumeration value="AM05"/>
            <xs:enumeration value="AP01"/>
            <xs:enumeration value="AP02"/>
            <xs:enumeration value="AP03"/>
            <xs:enumeration value="AP04"/>
            <xs:enumeration value="AP05"/>
            <xs:enumeration value="AP06"/>
            <xs:enumeration value="AP07"/>
            <xs:enumeration value="AP08"/>
            <xs:enumeration value="AP09"/>
            <xs:enumeration value="AP10"/>
            <xs:enumeration value="AP11"/>
            <xs:enumeration value="AP12"/>
            <xs:enumeration value="AP13"/>
            <xs:enumeration value="AP14"/>
            <xs:enumeration value="AP15"/>
            <xs:enumeration value="CH16"/>
            <xs:enumeration value="DS27"/>
            <xs:enumeration value="MD01"/>
            <xs:enumeration value="MD20"/>
            <xs:enumeration value="RC09"/>
            <xs:enumeration value="RC10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MunIBGECpfCnpjType">
        <xs:sequence>
            <xs:element minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element name="Id" type="Party38Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MunincipioIBGEType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NomeCpfCnpjType">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element name="Id" type="Party38Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalMandate8Choice">
        <xs:choice>
            <xs:element name="OrgnlMndt" type="Mandate16"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PICpfCnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}|[0-9A-Z]{12}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element name="TwnNm" type="MunincipioIBGEType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferredMandateDocument1">
        <xs:sequence>
            <xs:element name="Nb" type="Max35Text"/>
            <xs:element minOccurs="0" name="CdtrRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SequenceType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCUR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryDataEnvelopePain012Type">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="3" name="MndtPrcgDtls" type="MndtPrcgDtlsType"/>
            <xs:element minOccurs="0" name="MndtSts" type="MndtStsCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataPain012Type">
        <xs:sequence>
            <xs:element name="Envlp" type="SupplementaryDataEnvelopePain012Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <!--fim ISO-->
</xs:schema>
