docs/pacs/v5.10.1/xsd/pain.009.spi.1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           targetNamespace='https://www.bcb.gov.br/pi/pain.009/1.1'
           xmlns='https://www.bcb.gov.br/pi/pain.009/1.1'
           elementFormDefault='qualified'>
    <xs:element name="Envelope" type="SPIEnvelopeMessage"/>
    <xs:complexType name="SPIEnvelopeMessage">
        <xs:sequence>
            <xs:element name="AppHdr" type="SPI.head.001.001.01"/>
            <xs:element name="Document" type="SPI.pain.009.001.07"/>
        </xs:sequence>
    </xs:complexType>
    <!--inicio BAH-->
    <xs:complexType name="SPI.head.001.001.01">
        <xs:sequence>
            <xs:element name="Fr" type="Party9Choice"/>
            <xs:element name="To" type="Party9Choice"/>
            <xs:element name="BizMsgIdr" type="MsgIdType"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="CreDt" type="ISONormalisedDateTime"/>
            <xs:element name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISPBType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
            <xs:pattern value="[0-9A-Z]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[M][0-9A-Z]{8}[a-zA-Z0-9]{23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party9Choice">
        <xs:choice>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#"/>
        </xs:sequence>
    </xs:complexType>
    <!--fim BAH-->
    <!--inicio ISO-->
    <xs:complexType name="SPI.pain.009.001.07">
        <xs:sequence>
            <xs:element name="MndtInitnReq" type="MandateInitiationRequestV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BRL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount40">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CpfCnpjType">
        <xs:sequence>
            <xs:element name="Id" type="Party38Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency36Choice">
        <xs:choice>
            <xs:element name="Tp" type="Frequency6Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Frequency6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max20Numeric"/>
            <xs:element minOccurs="0" name="Issr" type="Max4Numeric"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PICpfCnpj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader80">
        <xs:sequence>
            <xs:element name="MsgId" type="MsgIdType"/>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IdRecorrenciaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[R|C][R|N][0-9A-Z]{8}[0-9]{4}[0-1][0-9][0-3][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IdSolicitacaoRecorrenciaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[S][C][0-9A-Z]{8}[0-9]{4}[0-1][0-9][0-3][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="Mandate19">
        <xs:sequence>
            <xs:element name="MndtId" type="IdRecorrenciaType"/>
            <xs:element name="MndtReqId" type="IdSolicitacaoRecorrenciaType"/>
            <xs:element name="Ocrncs" type="MandateOccurrences5"/>
            <xs:element name="TrckgInd" type="TrueFalseIndicator"/>
            <xs:element minOccurs="0" name="ColltnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element minOccurs="0" name="Adjstmnt" type="MandateAdjustment1"/>
            <xs:element name="Cdtr" type="NomeCpfCnpjType"/>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="Dbtr" type="CpfCnpjType"/>
            <xs:element name="DbtrAcct" type="CashAccount40"/>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element minOccurs="0" name="UltmtDbtr" type="NomeCpfCnpjType"/>
            <xs:element name="RfrdDoc" type="ReferredMandateDocument1"/>
            <xs:element name="SplmtryData" type="SupplementaryDataPain009Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MandateAdjustment1">
        <xs:sequence>
            <xs:element name="DtAdjstmntRuleInd" type="TrueFalseIndicator"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MandateInitiationRequestV07">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader80"/>
            <xs:element maxOccurs="unbounded" name="Mndt" type="Mandate19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MandateOccurrences5">
        <xs:sequence>
            <xs:element name="SeqTp" type="SequenceType2Code"/>
            <xs:element name="Frqcy" type="Frequency36Choice"/>
            <xs:element name="FrstColltnDt" type="ISODate"/>
            <xs:element minOccurs="0" name="FnlColltnDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MndtPrcgDtlsType">
        <xs:sequence>
            <xs:element name="MndtPrcgTp" type="MndtPrcgTpPain009Code"/>
            <xs:element name="PrcgDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MndtPrcgTpPain009Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRAT"/>
            <xs:enumeration value="CRTN"/>
            <xs:enumeration value="EXPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NomeCpfCnpjType">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element name="Id" type="Party38Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PICpfCnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}|[0-9A-Z]{12}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReferredMandateDocument1">
        <xs:sequence>
            <xs:element name="Nb" type="Max35Text"/>
            <xs:element minOccurs="0" name="CdtrRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SequenceType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCUR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryDataEnvelopePain009Type">
        <xs:sequence>
            <xs:element minOccurs="3" maxOccurs="3" name="MndtPrcgDtls" type="MndtPrcgDtlsType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataPain009Type">
        <xs:sequence>
            <xs:element name="Envlp" type="SupplementaryDataEnvelopePain009Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <!--fim ISO-->
</xs:schema>
